* {
    margin: 0;
    padding: 0;
}


img {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.add-money{
    top: 30%;
    left: 30%;
    z-index: 3;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(1, 6rem);
    grid-template-rows: 12rem 2rem 2rem;
}


.betMoney {
    display: grid;
    grid-template-columns: repeat(1, 6rem);
    grid-template-rows: 2rem 2rem;
}

.btn {
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.card {
    background-color: white;
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
}

.card::after {
    bottom: .5rem;
    right: .5rem;
    transform: rotate(180deg);
}

.card::before {
    top: .5rem;
    left: .5rem
}


.card::before,
.card::after {
    position: absolute;
    content: attr(data-number);
    font-size: 2rem;
}

.card::before,
.card::after {
    position: absolute;
    content: attr(data-number);
    font-size: 2rem;
}

.card.black {
    color: black;
}

.card.red {
    color: red;
}

.computer-hide {
    background-color: blueviolet;
}

.currentFunds{
    text-align: center;
    color: white;
    font-size: 24px;

}

.hidden{
    visibility: hidden;
}

.main {
    position: absolute;
    justify-content: center;
    z-index: 3;
    margin: 0;
    height: 99%;
    width: 99%;
}

.playArea {
    display: grid;
    grid-template-columns: repeat(3, 6rem);
    grid-template-rows: 10rem 4rem 10rem 2rem;
    gap: 1rem;
    cursor: pointer;
    justify-content: center;
    padding-top: 1rem;
    height: 80%;
    width: 80%;
}

.position {
    justify-content: center;
    position: absolute;
    top: 10%;
    left: 25%;
    height: 80%;
    width: 80%;
}

.moneyPot {
    font-size: 30px;
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#addMoneyBtn {
    background-color: chartreuse;
}

#betBtn{
    background-color: coral;
}

#hit {
    background-color: #f44336; 
}

#stay {
    background-color: #008CBA; 
}