* {
    margin: 0;
    padding: 0;
}

img {
    height: 100%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.add-money{
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
    margin: 25px;
    width: 80%;
    height: 10%;
    border: 1px solid white;
}

#hit {
    position: absolute;
    left: 80%;
    top: 20%;
    background-color: rgba(228, 15, 15, 0.829);
    border: none;
    color: white;
    padding: 1% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 25px;
}

#stay {
    position: absolute;
    left: 80%;
    top: 40%;
    background-color: rgb(30, 26, 224);
    border: none;
    color: white;
    padding: 1% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 25px;
}

.jackpot {
    position: absolute;
    left: 20%;
    top: 50%;
    border: none;
    color: white;
    padding: 1% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 25px;
}

.comp-hand {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
    margin: 25px;
    width: 80%;
    height: 20%;
    
}

.player-hand {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
    margin: 25px;
    width: 80%;
    height: 20%;
    ;
}

.info {
    display: grid;
    grid-template-rows: 50px 50px 50px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
    margin-left: 25px;
    width: 80%;
    height: 20%;
    
}

.card {
    position: relative;
    display: inline-block;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
    width: 30%;
    height: 90%;
    outline: solid 2px white;
}

.display {
    position: relative;
    display: inline-block;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;

}

#computer-hide {
    left: 50%;
    top: 5%;
}

#computer-show {
    left: 0%;
    top: 5%;
}

#player-card1 {
    left: 50%;
    top: 5%;
}

#player-card2 {
    left: 0%;
    top: 5%;
}

#computerCash {
    text-align: center;
    width: 90%;
    height: 50%;
    margin-left: 0;
    left: 0%;
    top: 5%;
}

#pot {
    text-align: center;
    width: 90%;
    height: 50%;
    margin: 0;
    left: 0%;
    top: 10%;
}

#playerCash {
    text-align: center;
    width: 90%;
    height: 50%;
    margin: 0;
    left: 0%;
    top: 10%;
}